<div class="text-center" style="margin-top: 50px;">
    <h1>Precio</h1>
    <p>Adquiere uno de nuestros planes de promoción.</p>
</div>

<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Libre
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span>$0</span> / mes</h5>
                    <p class="card-text">10 usuarios incluidos <br>2 GB de almacenamiento <br>Soporte de correo electrónico <br>Acceso al centro de ayuda</p>
                    
                    <a href="#" class="btn btn-primary">Régistrate Gratis</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Pro
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span>$15</span> / mes</h5>
                    <p class="card-text">20 usuarios incluidos <br>10 GB de almacenamiento <br>Soporte prioritario por correo electrónico <br>Acceso al centro de ayuda</p>
                    <a href="#" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Empresa
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span>$29</span> / mes</h5>
                    <p class="card-text">30 usuarios incluidos <br>15 GB de almacenamiento <br>Soporte telefónico y por correo electrónico <br>Acceso al centro de ayuda</p>
                    <a href="#" class="btn btn-primary">Contáctenos</a>
                </div>
            </div>
        </div>
        
    </div>
</div>